
<!--  -->
<!-- <div>
    <form method="post" enctype="multipart/form-data" action="/profile">
        <div class="form-group">
            <label for="">name</label>
            <input class= 'form-control' type="text" name = 'name'>
        </div>
        <div class="form-group">
            <input type="Photo">
         <input  class= 'form-control' type="file" name="file">
        </div>
        <div class = 'form-group'>
            <label for="notes">Notes</label>
            <textarea name="notes" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
         <input type="submit" value="Submit">
        </div>
    </form>
    <br>

</div> -->


<div class = 'container'>
    <div class = 'picHolder ' *ngFor='let pic of picData; let i=index;' style="overflow-y: scroll;"> 
         <div class="row">

          <div class="col-md-7 col-sm-11">
            <div style = 'overflow-y: scroll;'class="col-sm-12 col-md-10 col-md-offset-2 ">
                <h3 [ngStyle] = "{'color': getColor()}">{{pic.name}} <a routerLink="/person/{{pic._id}}">Edit - </a><a (click)='showAddChild[i] = !showAddChild[i]'>Add Child</a>
                </h3>
                    <div style ='width: 20%;float:left;'>
                        <a (click) ="large[i] =!large[i]" (mouseenter) ="large[i] =!large[i]" (mouseleave) ="large[i] =!large[i]"><img  [ngStyle] = "{'width': '150px'}" src="{{pic.url}}"></a>
                    </div>
                    <div style='width:60%; float:right;padding-left:20px'>

                        <p style =''>{{pic.notes}}</p>
                    </div>
            </div>
          </div>
         </div>

            
                <div>
                    <hr>
                    <img *ngIf = 'large[i]' src="{{pic.url}}" width='100%;' alt="">

                </div>
                <hr>

        
                <div style =''>
                    <div *ngIf ="pic.parents.length !=0" style = 'width:50%;float:left'>
                        Parent:
                        <br>
                        <a routerLink="/person/{{pic.parents[0]._id}}"><p>{{pic.parents[0].name}}</p><img src="{{pic.parents[0].url}}" width = '25%;'></a> 

                    </div>

                    <div *ngIf ="pic.children.length !=0" style='width:50%;float:right;'>
                        Children:
                        <br>
                        <div style = 'width:25%;padding:5px;' *ngFor = 'let child of pic.children'>
                             <a routerLink="/person/{{child._id}}"><p>{{child.name}}</p><img src = '{{child.url}}' width = '100%;'></a> 
                        </div>
                    </div>
                </div>


                
                <div class ='largeImageHolder' *ngIf = 'showAddChild[i]'>
                    <div style='background-color:darkgrey;padding:5px;border solid black 1px;'   >
                        <form method="post" enctype="multipart/form-data" action="/addChild">
                            <div class="form-group">
                                <input hidden ="true" type="text" value ="{{pic._id}}" name ='parentId'>
                                <label for="">name</label>
                                <input class= 'form-control' type="text" name = 'name'>
                            </div>
                            <div class="form-group">
                                <label for="">Photo</label>
                             <input  class= 'form-control' type="file" name="file">
                            </div>
                            <div class = 'form-group'>
                                <label for="notes">Notes</label>
                                <textarea name="notes" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                             <input type="submit" class = 'btn btn-default' value="Add Child">
                            </div>
                        </form>
                        <br>

                    </div>
                    
                </div>
            </div>
</div>


