<a routerLink="/" >Home</a>

<h1>Edit {{editPerson.name}}'s Info</h1>


<div>
	<div *ngIf = 'editPerson.children.length != 0' style = 'width:40%;float:left;'>
	<label for="">Children</label>

	<div *ngFor = 'let child of editPerson.children'>
		<a routerLink="/person/{{child._id}}">{{child.name}} <br>
		<img width = '50px' src="{{child.url}}" alt=""></a> <br> <hr>

	</div>

</div>
<div *ngIf = 'editPerson.parents.length != 0'>
	<label for="">Parent</label>

	<div *ngFor = 'let parent of editPerson.parents'>
		<div style ='display:block;'>
			<a routerLink="/person/{{parent._id}}">
			{{parent.name}}

			<br>
			<img  width = '50px' src="{{parent.url}}" alt=""> </a><br>
		</div>

	</div>
</div>


</div>

<br>

<div>
	<form action="/profile/{{editPerson._id}}" method='post'>
		<div class="form-group">
			<input value="{{editPerson.name}}" type="text" class="form-control" name = 'name'>
			<label for="name">Name</label>

		</div>
		<div class="form-group">
			<textarea value ="{{editPerson.notes}}" name="notes" id="" cols="30" rows="10" class = 'form-control'></textarea>
			<label for="notes">Notes</label>
			
		</div>
		<div class="form-group">
			<input type="submit">
		</div>
	</form>
</div>
<img src="{{editPerson.url}}" width = '100%' alt="{{editPerson.name}}">

<!-- <h1>Children: </h1>
<div *ngIf = 'editperson.children'>
	<div *ngFor = 'let child of editperson.children'>
				{{child.name}}


	</div>
</div>

 -->